//navbar
.navBar {
    background-color: #023046;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    
}

.navBar a {
    float: right;
    color: #0000;
    text-align: center;
    padding: 15px 70px;
    text-decoration: none;
    font-size: 170%;
    color:rgb(255, 255, 255);
}

.navBar a:hover {
    background-color: #126782;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.navBar .current {
    background-color: #fd9e02;
    color: rgb(255, 255, 255);
}

.navBar {
    font-family: "Futura";
    font-style: normal;
    font-weight: 600;
}


//KanBan Board
* {
    box-sizing: border-box;
  }

body {
    background: white;
    color: black;
    font-family: 'Futura', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: black;
    font-family: 'Futura', sans-serif;
}

.task_container {
    width: 1000px;
    height: 80vh;
    display: flex;
  }

.status {
    width: 25%;
    background-color: #f3f3f3;
    position: relative;
    padding: 60px 1rem 0.5rem;
  }
 
.status:nth-child(1) {
    background-color: #e9e9e96b;
    border-radius: 25px;
    margin-right: 2%;
  
  }
.status:nth-child(2) {
    background-color: #8ECAE6;
    border-radius: 25px;
    margin-right: 2%;
  }

.status:nth-child(3) {
    background-color: #219EBC;
    border-radius: 25px;
    margin-right: 2%;
  }

.status:nth-child(4) {
    background-color: #126782;
    border-radius: 25px;
    margin-right: 2%;
  
  }

  
.status h1 {
    position: absolute;
    text-align: center;
    font-size: 130%;
    font-weight: 5;
    top: 0;
    left: 0;
    color: #f3f3f3;
    margin: 0;
    width: 100%;
    padding: 10%;
    
  }


#add_button {
    padding: 0.5%;
    background-color: #ffb703;
    outline: none;
    border: none;
    width: 100%;
    font-size: 200%;
    margin: 0.5rem 0;
    border-radius: 20px;
    cursor: pointer;
  }

#add_button:hover {
    background-color: #219EBC;
  }

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #fff;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
      rgba(15, 15, 15, 0.1) 0px 2px 4px;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 100%;
    margin: 0.5rem 0;
  }
  
.task .close {
    position: absolute;
    right: 1rem;
    top: 0;
    font-size: 160%;
    color: #ccc;
    cursor: pointer;
  }
  
.task .close:hover {
    color: #343444;
  }

  /* modal */

.close-modal {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
.modal {
    width: 500px;
    margin-top: 10%;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-60%, -50%);
    transition: top 0.3s ease-in-out;
    border-radius: 25px;
    z-index: 3;
    background-color: rgb(255, 255, 255);
  }
  
.modal.active {
    top: 15%;
  }
  
.modal .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 0.5rem;
    background-color: #219EBC;
  }
  
.modal .body {
    padding: 0.75rem;
  }
  
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
#overlay.active {
    display: block;
    
  }

#submit_task {
  border-radius: 25px;
  margin-left: 35%;
  margin-top: 3%;
  background-color: #fd9e02;
  border: none;
  width: 30%;
  padding: 2%;
  font-size: 100%;

}

#submit_task:hover {
  background-color: #FB8500;
}

.input_text
{
  padding: 0.5rem 1rem;
  width: 100%;
  margin: 0.25rem;
}

#task_submit {
  padding: 2%;
  width: 100%;
  margin: 0.25rem;
}

#task_submit {
  background-color: #3694ce;
  color: #f3f3f3;
  font-size: 1.25rem;
  border: none;
}

html, body {
    user-select: none;
  }


  
//study page
.study_page {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr auto; 
  grid-template-rows: 1fr 1fr auto; 
  column-gap: 2%;
  row-gap: 3%;
  width: 90%;
  justify-content: center;
  grid-template-areas: 
    "Timer Timer Timer Timer"
    "Dictionary Dictionary Music Music"; 
}


.Music { grid-area: Music; 
  background-color: #FB8500;
  border-radius: 25px;
  padding: 3%;
  height: 250px;
}


//music
.music_player {
  border-radius: 25px;
  margin-left: 2.5%;
  margin-top: 1%;
  width: 95%;
  height: 200px;
}

//TIMER

.Timer { grid-area: Timer; 
  background-color: #ffb703;
  border-radius: 25px;
  margin-top: 8%;
  padding: 3%;
  height: 250px;
  
}

.timer_buttons{
  width: 90%;
  margin: 5px auto 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: -2%;
}

.timer_buttons button{
  width: 120px;
  height: 45px;
  background-color: #fff;
  color: #023046;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}


.timer_buttons button:hover{
  width: 120px;
  height: 45px;
  background-color: #FB8500;
  color: #023046;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}


.display_timer{
  position: relative;
  width: 92%;
  left: 4%;
  padding: 40px 0;
  font-family: 'futura';
  color: rgb(255, 255, 255);
  font-size: 400%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}




//dictionary

.Dictionary { grid-area: Dictionary; 
  background-color: #8ECAE6;
  border-radius: 25px;
  padding: 3%;
  height: 250px;
}

.main{
  margin-left: 4%;
  width: 90%;
  justify-content: center;
}

.word .head{
  margin-top: -12%;

}

.main .search{
  position: relative;
}

.search input{
  height: 50px;
  width: 100%;
  outline: none;
  padding: 0 41px;
  font-size: 100%;
  border-radius: 15px;
  border: none;
}

.search input:focus{
  padding: 0 41px;
  border: 1px solid #126782
}

.search input::placeholder{
  color: #a3a3a3
}

.search i{
  left: 20%;
  pointer-events: none;
  font-size: 90%;
}


.search :where(i, span){
  cursor: pointer;
  position: absolute;
  top: 20%;
  color: #ffff;
  margin-left: 2%;
  font-weight: 400;
  font-size: 150%;
}

.main .info_text{
  color: #ffff;
  margin: 1% 0 -10px;
}

.main.active .info-text{
  display: none;
}

.main ul{
  opacity: 0;
  overflow-y: hidden;
  color: #ffff
}

.main.active ul{
  opacity: 1;

}

.main ul li{
  display: flex;
  list-style: none;
  align-items: center;
  margin-top: 1%;
  justify-content: space-between;
  height: fit-content;
 
}

.content .synonyms .list{
  display: flex;
  flex-wrap: wrap;
}

.content .synonyms span{
  cursor: pointer;
  margin-right: 10%;
  text-decoration: underline;
}

